html,
body {
    margin: 0;
    padding: 0;
    background-color: #5f646b;
    height: 100%;
    width: 100%;
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

.header {
    height: 70px;
    margin: 0 auto;
    background-color: #2D3238;
}

.logo {
    float: left;
    margin-left: 40px;
    margin-top: 5px;
}

#first-word {
    color: #CE2B3A;
}

#second-word {
    color: #2196F3;
}

#main_menu_icon {
    color: #CE2B3A;
    font-size: 30px;
    padding-right: 120px;
}

.fight-info-wrapper {
    padding-left: 30px;
    padding-bottom: 15px;
}

.flight-id-input {
    width: 10%;
    height: 29px
}

.btn {
    background: #2196F3;
    color: #473f3e;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    width: 10%;
    height: 35px
}

.start {
    background: #24d450;
}

.finish {
    background: #d089ec;
}

.delay {
    background: #eef126;
}

.cancel {
    background: #bd5f48;
}

.remove {
    visibility: hidden;
    background: #e21818;
}

.manage-panel {
    display: none;
}

.flighttable {
    padding-left: 30px;
    font-size: 16px;
    color: #78c4ba;
}

table {
    border-collapse: collapse;
    width: 96%;
}

table,
th,
td {
    border: 2px solid #f1e28d;
    height: 40px;
}

th {
    background-color: #473f3e;
    color: white;
    height: 50px;
}

tr {
    text-align: center;
    cursor: pointer;
    transition: all .25s ease-in-out
}

tr:hover {
    background-color: #f1dd84;
}

.fight-edit-wrapper {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.flight-add {
    background: #473f3e;
    width: 35%;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 1.2);
    font-size: 14px;
    color: #78c4ba;
}

.flight-add:hover {
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.50);
}

.itinerary {
    padding-top: 15px;
    overflow: auto;
    text-align: center;
}

.plane {
    padding-top: 15px;
    overflow: auto;
    text-align: center;
}

.addFlight {
    width: 30%;
}

.addbtn {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
}

.form-group {
    display: inline-block;
    width: 150px;
    height: 60px;
}

.form-group small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 5px;
}

.form-group.error small {
    color: #FC0E1F;
    visibility: visible;
}

.form-group.success input {
    border-color: #2EFB1F;
}

.form-group.error input {
    border-color: #FC0E1F;
}

.inputbox {
    height: 35px;
    border: 2px solid #fff;
    padding: 15px;
    font-size: 12px;
}

.inputbox:focus {
    font-size: 16px;
    outline-width: 2px;
    outline-color: #2196F3;
}

input:focus::placeholder {
    color: transparent;
}